* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow-x: hidden;
}
header {
  display: flex;
  padding-left: 15px;
  width: 1487px;
  /* height: 200px; */
  border-bottom: 1px solid black;
  background-color: #00285d;
}
.logo {
  margin-top: 10px;
}
.nav {
  display: flex;
  margin-top: 50px;
  padding-left: 620px;
  gap: 40px;
  /* margin-right: 20px; */
}
.img {
  margin-top: -12px;
}
a {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #fff;
}
a:hover {
  color: rgb(255, 40, 133);
}
.flexbox {
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(248, 233, 247);
  margin: 20px;
  box-shadow: rgb(161, 146, 169) 4px 4px 4px;
}
.flexbox:hover {
  transform: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transform: scale(1.12);
}
.virus {
  width: 100%;
  background: url(/Assets/images/—Pngtree—contrast\ color\ stitching\ purple\ background_1331676.png);
  font-family: sans-serif;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.nesteddiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 600px;
  flex-wrap: wrap;
  padding: 200px;
  gap: 20px;
  margin-left: 250px;
}
.footlogo {
  margin-top: 50px;
  margin-left: 30px;
  /* margin-top: 50px; */
  position: relative;
  top: 70px;
}
.footsocialmedia {
  margin-top: 80px;
  margin-left: 31px;
}
.sidefooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -80px;
  padding-left: 140px;
  /* padding-top: 10px; */
}
.footer {
  background-color: rgb(243, 218, 237);
  height: 300px;
  width: 1500px;
}
h4 {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  color: black;
}
h6 {
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.imglast {
  margin-left: 30px;
  padding-top: 20px;
}
