* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: #dbebff;
}
header {
  display: flex;
  padding-left: 15px;
  width: 1487px;
  /* height: 200px; */
  border-bottom: 1px solid black;
  background-color: #00285d;
}
.logo {
  margin-top: 10px;
}
.nav {
  display: flex;
  margin-top: 50px;
  padding-left: 620px;
  gap: 40px;
  /* margin-right: 20px; */
}
.img {
  margin-top: -12px;
}
a {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #fff;
}
a:hover {
  color: rgb(255, 40, 133);
}

h1 {
  font-size: 60px;
  margin-bottom: 40px;
}
.container {
  width: 390px;
  /* height: 100px;  
  color: black;
  /* align-items: center;
  flex-direction: column; */
  margin-bottom: 30px;
  /* margin-top: 20px; */
}
.calculator {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 400px;
}
.container label {
  font-size: 20px;
}
.container input {
  width: 150px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  margin-left: 500px;
  margin-bottom: -100px;
  justify-content: center;
}
input h2 {
  font-size: 30px;
  align-items: center;
}
.headtrack {
  margin-left: 500px;
  margin-top: 50px;
}
/* .head {
  /* margin-left: 580px; */
/* margin-top: 0px; */
/* gap: 20px; */
/* } */
.items1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -70px;
}
.img1:hover {
  color: #00285d;
}

.prices1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.prices1 p {
  color: #00285d;
}

.img1 {
  border: 1px solid;
}
.pads {
  margin-left: 580px;
  margin-top: -70px;
  font-size: 60px;
}
button {
  border: none;
  outline: none;
  height: 30px;
  background-color: blueviolet;
  color: rgb(255, 251, 251);
  font-size: 18px;
  border-radius: 20px;
  /* z-index: 5; */
  margin-left: 600px;
  padding: 5px 110px;
  text-decoration: none;
}
section {
  padding: 5rem 10%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  /* text-transform: capitalize; */
  color: rgb(0, 0, 0);
}

.blog .box-container {
  /* display: -ms-grid; */
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 6rem;
}

.blog .box-container .box .image {
  height: 54%;
  overflow: hidden;
  /* position: relative; */
}

.blog .box-container .box .image img {
  width: 101%;
  /* -o-object-fit: cover;
  object-fit: cover; */
}

/* .blog .box-container .box .image h3 i {
  color: #bd18b4;
} */

.blog .box-container .box .content {
  padding: 2rem;
  background-color: #00285d;
  color: #fff;
}

.blog .box-container .box .content h3 {
  font-size: 2rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  /* padding: 0.8rem 2rem; */
  font-size: 1.2rem;
  border: 0.1rem solid #00285d;
  background: #00285d;
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  background: #c7dfff;
  color: rgb(0, 0, 0);
}
video {
  width: 100%;
}
.footlogo {
  margin-top: 50px;
  margin-left: 30px;
  /* margin-top: 50px; */
  position: relative;
  top: 70px;
}
.footsocialmedia {
  margin-top: 80px;
  margin-left: 40px;
}
.sidefooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -80px;
  padding-left: 140px;
  /* padding-top: 10px; */
}
.footer {
  background-color: #00285d;
  height: 330px;
  width: 1500px;
}
h4 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
}
h6 {
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.imglast {
  margin-left: 30px;
  padding-top: 20px;
}
