* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: rgba(251, 228, 253, 0.896);
}
header {
  display: flex;
  padding-left: 15px;
  width: 1487px;
  /* height: 200px; */
  border-bottom: 1px solid black;
  background-color: #00285d;
}
.logo {
  margin-top: 10px;
}
.nav {
  display: flex;
  margin-top: 50px;
  padding-left: 620px;
  gap: 40px;
  /* margin-right: 20px; */
}
.img {
  margin-top: -12px;
}
a {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #fff;
}
a:hover {
  color: rgb(255, 40, 133);
}
section {
  padding: 5rem 5%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #444;
}

.blog .box-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 30px;
}

.blog .box-container .box.shadow {
  max-width: 350px;
  box-shadow: 0px 18px 39.1px 6.9px rgba(255, 255, 255, 0.34) !important;
  background-color: rgba(251, 228, 253, 0.896);
}

.blog .box-container .box .image {
  /* height: 60%; */
  overflow: hidden;
  /* position: relative; */
  text-align: center;
}

.blog .box-container .box .image img {
  width: 50%;
  /* -o-object-fit: cover;
  object-fit: cover; */
}

.blog .box-container .box .image h3 {
  background-color: #fff;
  color: #444;
  position: absolute;
  top: 2rem;
  left: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 15px;
}

.blog .box-container .box .image h3 i {
  color: #bd18b4;
}

.blog .box-container .box .content {
  padding: 2rem;
  background-color: #fff;
  height: 300px;
}

.blog .box-container .box .content h3 {
  font-size: 2rem;
}

.blog .box-container .box .content p {
  font-size: 1rem;
  padding: 1rem 0;
  line-height: 2;
  color: #777;
}
