@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:wght@100;300;400;500;700&display=swap");
:root {
  --aqua: rgb(17, 163, 163);
  --black: #444;
  --light-color: #777;
  --box-shadow: 0.5rem 0.5rem 0 rgb(17, 163, 163);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--green);
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

#random_img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 40px;
  cursor: pointer;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-padding-top: 7rem;
  scroll-behavior: smooth; */
}

.span {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.imgdoc {
  border-radius: 50%;
  width: 50px;
  margin-right: 130px;
}
#docrandom_img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 40px;
  cursor: pointer;
}
.header {
  padding: 2rem 9%;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}
.header .logo {
  font-size: 2.6rem;
  color: var(--black);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header .logo i {
  color: var(--aqua);
}
.header .navbar a {
  font-size: 1.7rem;
  color: var(--light-color);
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: var(--aqua);
}
#menu-btn {
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--blue);
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
.wrapper .box {
  /* position: relative; */
  width: 350px;
  padding: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 15px;
  overflow: hidden;
  text-align: center;
}
.wrapper .box .icons {
  width: 100px;
  height: 100px;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
  color: #fff;
  border: 1px solid black;
}

.wrapper .box :nth-child(1).icons {
  box-shadow: 0 0 0 var(--aqua);
  background-color: var(--aqua);
}
.wrapper .box :nth-child(1):hover.icons {
  box-shadow: 0 0 0 400px var(--aqua);
}
.wrapper .box .content {
  margin-top: 10px;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 15px;
  font-family: poppins;
}
.wrapper .box .content a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 20px;
  font-size: 13px;
  color: black;
}
.footer {
  padding: 70px 0;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  background-color: #eee;
  text-align: center;
}
.container {
  max-width: 991px;
  margin: auto;
}
ul {
  list-style: none;
}
.btn {
  margin: 10px;
  padding: 5px 15px;
}
.rows {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 25%;
  padding: 0 45px;
}
.footer-col h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
.footer-col ul li a {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}
.footer-col ul li a:hover {
  color: var(--aqua);
  padding-left: 10px;
}
.footer .container .rows .footer-col .share a {
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  font-size: 2rem;
  color: rgb(83, 150, 117);
  margin: 0.3rem;
  text-align: center;
  /* background: rgb(150, 223, 223); */
  color: rgb(0, 0, 0);
}

.footer .container .rows .footer-col .share a:hover {
  color: rgb(0, 0, 0);
}

/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: initial;
  }
  .header .navbar {
    position: absolute;
    top: 15%;
    right: 2rem;
    border-radius: 0.5rem;
    /* box-shadow: var(--aqua); */
    width: 14rem;
    /* border: #051d40 solid; */
    background: #fff;
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: none;
  }
  .header .navbar.active {
    transform: scale(1);
    opacity: 1;
    transition: 0.2s ease-out;
  }
  .header .navbar a {
    font-size: 2rem;
    display: block;
    margin: 2.5rem;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .footer-col {
    width: 50%;
  }
}
