* {
    margin:0;
    padding:0;
}

.button_box{
    width:260px;
    background-color: rgb(67, 140, 141);
    margin:35px auto;
    border-radius: 30px;
    position: relative;
    box-shadow: 0 0 20px 9px #fff;

    
}
.btn{
    padding:10px 40px;
    cursor:pointer;
    background: transparent;
    position: relative;
    border:0;
    outline:none;
    color:white;
}
a{
    color:#fff;
    text-decoration: none;
}