@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:wght@100;300;400;500;700&display=swap");
:root {
  --aqua: #60a995;
  --black: #444;
  --light-color: #777;
  --box-shadow: 0.5rem 0.5rem 0 #60a995;
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--green);
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
.header {
  padding: 2rem 9%;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  position: fixed;
}
.header .logo {
  font-size: 2.6rem;
  color: var(--black);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header .logo i {
  color: var(--aqua);
}
.header .navbar a {
  font-size: 1.7rem;
  color: var(--light-color);
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: var(--aqua);
}
#menu-btn {
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--blue);
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}
section {
  padding: 2rem 9%;
}
.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  background-color: rgb(242, 242, 242);
}
.home .pic img {
  width: 100%;
}

.home .pic {
  flex: 1 1 45rem;
}
.home .content {
  flex: 1 1 45rem;
}
.home .content h3 {
  font-size: 4.5rem;
  line-height: 1.8;
  color: var(--black);
}
.home .content p {
  font-size: 1.7rem;
  line-height: 1.8;
  padding: 1rem 0;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
  /* box-shadow: var(--box-shadow); */
  border: 2px solid #b8d7ce;
  background-color: #b8d7ce;
  border-radius: 20px;
  color: var(--black);
  cursor: pointer;
  font-size: 1.7rem;
  /* background: #fff; */
  margin-left: -5px;
  /* background: rgb(188, 255, 255); */
}
.btn span {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  /* background: var(--green); */
  color: rgb(0, 0, 0);
  margin-left: 0.5rem;
}

.btn:hover {
  color: rgb(0, 0, 0);
}

.btn:hover span {
  color: var(--black);
  background: #fff;
  margin-left: 2rem;
}

.heading {
  color: black;
  text-transform: capitalize;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 20px;
}
.heading span {
  color: var(--aqua);
}
.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.about {
  background-color: rgb(242, 242, 242);
}
.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  color: var(--black);
  font-size: 4rem;
  line-height: 1.8;
}

.about .row .content p {
  color: var(--light-color);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}
.doctors .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.doctors {
  background-color: rgb(255, 255, 255);
}

.doctors .box-container .box {
  text-align: center;
  background: #d5ebe5;
  padding: 2rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.doctors .box-container .box img {
  /* height: 20rem; */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#random_img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 40px;
  cursor: pointer;
}
.doctors .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.doctors .box-container .box span {
  color: var(--aqua);
  font-size: 1.5rem;
}

.doctors .box-container .box .share a {
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  font-size: 2rem;
  color: rgb(0, 99, 99);
  margin: 0.3rem;
}

.doctors .box-container .box .share a:hover {
  background: rgb(150, 223, 223);
  color: rgb(0, 0, 0);
}
.img1:hover {
  transform: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transform: scale(1.12);
}
.boxes {
  width: 900px;
  margin: 60px auto;
  background: #cde8e0;
  border-radius: 7px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.boxes .heading {
  background-color: #eee;
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
  /* color: rgb(33, 144, 144); */
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 600;
}

.faqs {
  padding: 0px 20px 20px;
}

details {
  /* background: #8ce0e3; */
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
}

details summary {
  outline: none;
}

.contact .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact .row .image {
  flex: 1 1 45rem;
}

.contact .row .image img {
  width: 100%;
  /* margin-bottom: 50px; */
}

.contact .row form {
  flex: 1 1 45rem;
  background-color: rgb(17, 163, 163);
  /* border: var(--border); */
  /* box-shadow: var(--box-shadow); */
  text-align: center;
  padding: 2rem;
  border-radius: 1.5rem;
}

.contact .row form h3 {
  color: rgb(255, 255, 255);
  padding-bottom: 1rem;
  font-size: 3rem;
}

.contact .row form .box {
  width: 100%;
  margin: 0.7rem 0;
  border-radius: 0.5rem;
  border: #fff;
  font-size: 1.6rem;
  text-transform: none;
  padding: 1rem;
}

.contact .row form .btn {
  padding: 1rem 4rem;
}
.con {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.footer {
  background-color: #eee;
  padding: 70px 0;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  text-align: center;
}
.container {
  max-width: 991px;
  margin: auto;
}
ul {
  list-style: none;
}
.rows {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 25%;
  padding: 0 45px;
}
.footer-col h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
.footer-col ul li a {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}
.footer-col ul li a:hover {
  color: var(--aqua);
  padding-left: 10px;
}
.footer .container .rows .footer-col .share a {
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  font-size: 2rem;
  color: rgb(0, 99, 99);
  margin: 0.3rem;
  text-align: center;
  /* background: rgb(150, 223, 223); */
  color: rgb(0, 0, 0);
}

.footer .container .rows .footer-col .share a:hover {
  color: rgb(0, 0, 0);
}

/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: initial;
  }
  .header .navbar {
    position: absolute;
    top: 15%;
    right: 2rem;
    border-radius: 0.5rem;
    /* box-shadow: var(--aqua); */
    width: 14rem;
    /* border: #051d40 solid; */
    background: #fff;
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: none;
  }
  .header .navbar.active {
    transform: scale(1);
    opacity: 1;
    transition: 0.2s ease-out;
  }
  .header .navbar a {
    font-size: 2rem;
    display: block;
    margin: 2.5rem;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .boxes {
    width: 80%;
  }
  .contact {
    width: 80%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .footer-col {
    width: 50%;
  }
  .boxes {
    width: 80%;
  }
  .contact {
    width: 100%;
  }
}
